.speech-bubble {
	position: relative;
	background: #1492fb;
    border-radius: 2rem;
    height: 10rem;
    width: 20rem;
    margin-left: 2.8rem;
    text-align: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 63px solid transparent;
	border-right-color: #1492fb;
	border-left: 0;
	margin-top: -63px;
	margin-left: -50px;
}