/* Styling the Div to create a  */

.speech-bubble{
    color:;
    background-color: rgb(63, 134, 241);
    height: 10rem;
    width: 20rem;
    border-radius: ;
    position: absolute;
    border-radius: 20px;
    
}

.speech-bubble .arrow{
    border-style: solid;
    position: absolute;
}

.top{
    border-color:#c8c8c8 transparent transparent transparent;
    border-width: 0px 15px 15px 15px;
    top: +20px;
}

